{
  "presets": ["@babel/env", "@babel/preset-react"],
  "plugins": ["@vanilla-extract/babel-plugin"],
  "env": {
    "development": {
      "presets": [["@babel/preset-react", { "development": true }]]
    }
  }
}